<section class="content well">
    <h1>{{this.firstName}} {{this.lastName}}
        <button class="btn btn-warning edit"><i class="icon-edit icon-white"></i> Edit</button>
        <button class="btn btn-danger delete"><i class="icon-trash icon-white"></i> Delete</button>
    </h1>
    <dl class="data-fields clearfix">
        <dt>First Name</dt>
        <dd>{{this.firstName}}</dd>
        <dt>Last Name</dt>
        <dd>{{this.lastName}}</dd>
        <dt>Passport ID</dt>
        <dd>{{this.passportNumber}}</dd>
        <dt>Address</dt>
        <dd>{{this.address}}</dd>
    </dl>
    <!--<div class="cards-n-accounts">-->
        <!--<ul class="nav nav-tabs">-->
            <!--<li><a href="#cards" data-toggle="tab">Cards</a></li>-->
            <!--<li><a href="#accounts" data-toggle="tab">Accounts</a></li>-->
        <!--</ul>-->
        <!--<div class="tab-content">-->
            <!--<div class="tab-pane active" id="cards">-->
                <!--<button class="btn-link">Add card</button>-->
                <!--<table class="table table-bordered">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th class="check"><input type="checkbox" title="toggle all"></th>-->
                        <!--<th>Number</th>-->
                        <!--<th>Exp. date</th>-->
                        <!--<th>CVV2</th>-->
                        <!--<th>PIN</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr class="expander" title="Expand">-->
                        <!--<td class="check"><input type="checkbox"></td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                    <!--</tr>-->
                    <!--<tr class="expandable">-->
                        <!--<td colspan="4">-->
                            <!--<ul class="accounts">-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr class="expander" title="Expand">-->
                        <!--<td class="check"><input type="checkbox"></td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                    <!--</tr>-->
                    <!--<tr class="expandable">-->
                        <!--<td colspan="4">-->
                            <!--<ul class="accounts">-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="check"><input type="checkbox"></td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
            <!--<div class="tab-pane fade" id="accounts">-->
                <!--<button class="btn-link">Add account</button>-->
                <!--<table class="table table-bordered">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th class="check"><input type="checkbox"></th>-->
                        <!--<th>Number</th>-->
                        <!--<th>Currency</th>-->
                        <!--<th>Amount</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr class="expander" title="Expand">-->
                        <!--<td class="check"><input type="checkbox"></td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                    <!--</tr>-->
                    <!--<tr class="expandable">-->
                        <!--<td colspan="3">-->
                            <!--<ul class="cards">-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="check"><input type="checkbox"></td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                    <!--</tr>-->
                    <!--<tr class="expander" title="Expand">-->
                        <!--<td class="check"><input type="checkbox"></td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                        <!--<td>...</td>-->
                    <!--</tr>-->
                    <!--<tr class="expandable">-->
                        <!--<td colspan="3">-->
                            <!--<ul class="cards">-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<ul class="controls">-->
                                        <!--<li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>-->
                                        <!--<li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>-->
                                    <!--</ul>-->
                                    <!--some test info-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</section>