<section class="content well">
    <h1>
        {{#if this.id}}
            {{this.firstName}} {{this.lastName}}
        {{else}}
            New User
        {{/if}}
        <!--<button class="btn btn-danger delete"><i class="icon-trash icon-white"></i> Delete</button>-->
    </h1>
    <dl class="data-fields clearfix">
        <dt>First Name</dt>
        <dd><input type="text" placeholder="first name" value="{{this.firstName}}" class="firstName"></dd>
        <dt>Last Name</dt>
        <dd><input type="text" placeholder="last name" value="{{this.lastName}}" class="lastName"></dd>
        <dt>Passport ID</dt>
        <dd><input type="text" placeholder="passport id" value="{{this.passportNumber}}" class="passportNumber"></dd>
        <dt>Address</dt>
        <dd><input type="text" placeholder="address" value="{{this.address}}" class="address"></dd>
    </dl>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary save">Save changes</button>
        <button type="button" class="btn cancel">Cancel</button>
    </div>
</section>