<section class="content well">
    <h1>Card #{{this.number}}
        <button class="btn btn-warning edit"><i class="icon-edit icon-white"></i> Edit</button>
        <button class="btn btn-danger delete"><i class="icon-trash icon-white"></i> Delete</button>
    </h1>
    <dl class="data-fields clearfix">
        <dt>ID</dt>
        <dd>{{this.id}}</dd>
        <dt>Number</dt>
        <dd>{{this.number}}</dd>
        <dt>Currency</dt>
        <dd>{{this.passportNumber}}</dd>
        <dt>Address</dt>
        <dd>{{this.address}}</dd>
    </dl>
</section>